<div id="wrapper">
    <div class="overlay"></div>

    <nav ng-include src="'views/partials/sidebar.html'" class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"></nav>

    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="row">

                <div class="col-lg-4"></div>

                <div class="col-lg-8">

                    <input id="file_img" type="file"><br>
                    <img id="product_img" src="" height="200" alt="Image preview...">

                    <div class="form-group">
                        <label for="smallDesription">Краткое описание:</label>
                        <input ng-model="newProduct.decriptionSmall" type="email" class="form-control" id="smallDesription" placeholder="text">
                    </div>

                    <div class="form-group">
                        <label for="bigDescription">Описание:</label>
                        <textarea ng-model="newProduct.decriptionBig" id="bigDescription"></textarea>
                    </div>


                    <button class="btn btn-default click" ng-click="addProduct(newProduct);">save</button>

                </div>

            </div>
        </div>
    </div>
</div>

