<div id="wrapper">
    <div class="overlay"></div>

    <nav ng-include src="'views/partials/sidebar.html'" class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"></nav>

    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="row">

                <div class="col-lg-4"></div>

                <div class="col-lg-8">
                    <!--<form method="post" ng-controller="TinyMceController">-->
                        <!--<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>-->
                        <!--<button ng-click="getContent()">Get content</button>-->
                        <!--<button ng-click="setContent()">Set content</button>-->
                    <!--</form>-->






                    <input type="file"><br>
                    <img src="" height="200" alt="Image preview...">
                    <button class="click" ng-click="save();">save</button>







                    <textarea></textarea>

                    <br>
                    <br>
                    <br>
                    <br>









                </div>

            </div>
        </div>
    </div>
</div>

