<div id="wrapper">
    <div class="overlay"></div>

    <nav ng-include src="'views/partials/sidebar.html'" class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"></nav>

    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <div class="admin-products-wrapper">
                        <h2 class="text-center">Выбрать дизайн</h2>
                        <ul>
                            <li>Первый вариант <button ng-click="changeColor('default')" class="btn btn-primary">Выбрать</button></li>
                            <li>Второй вариант <button ng-click="changeColor('dark')" class="btn btn-primary">Выбрать</button></li>
                            <li>Третий вариант <button ng-click="changeColor('light-dark')" class="btn btn-primary">Выбрать</button></li>
                            <li>Четвертый вариант <button ng-click="changeColor('light-green')" class="btn btn-primary">Выбрать</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

