<div id="wrapper">
    <div class="overlay"></div>

    <nav ng-include src="'views/partials/sidebar.html'" class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation"></nav>

    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="row">

                <div class="col-lg-2"></div>

                <div class="col-lg-10">
                    <div class="admin-products-wrapper">

                        <div class="col-xs-12 text-right">
                            <button class="btn btn-success" ng-click="goToAllService();">Все сервисы</button>
                        </div>

                        <div class="form-group">
                            <label for="chosen">Раздел:</label>
                            <select name="" id="chosen" ng-model="chosen">
                                <option value="{{product}}" ng-repeat="product in productList">{{product.title}}</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="title">Название:</label>
                            <input style="width:500px;" type="text" id="title" ng-model="service.title" />
                        </div>

                        <div class="container">
                            <div class="col-md-9">
                                <form action="/upload-target" class="dropzone" id="drop">
                                    <div class="dz-message needsclick">
                                        <!--<i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>-->
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--<form method="post" ng-controller="TinyMceController">-->
                        <textarea ui-tinymce="tinymceOptions" ng-model="service.tinymceModel"></textarea>
                        <!--</form>-->
                        <br>
                        <button class="click btn btn-primary save" ng-click="save(service, chosen);">Добавить</button>
                    </div>


                    <br>
                    <br>
                    <br>
                    <br>

                </div>

            </div>
        </div>
    </div>
</div>

