<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="intro-header-title">
        <h1 class="text-center slider-title slider-title-color"><span>INTLUX</span> ENERGY</h1>
        <h4 class="text-center slider-title slider-description" translate="SLIDER_DESCRIPTION"></h4>
        <a data-scroll-item="#about_us" ng-click="goToBlock($event.target)" class="btn-2 link-nav"><span translate="ABOUT_US"></span></a>
    </div>

    <div id="slider">
        <!-- i put this sizer img to define the aspect ratio -->
        <img class="sizer" src="https://dl.dropboxusercontent.com/u/198573416/codepen/sizer.gif" alt="" />
        <article class="show">
            <img src="img/prom1.jpg" alt="" />
        </article>
        <article>
            <div class="shadow-bg"></div>
            <img src="img/prom2.jpg" alt="" />
        </article>
        <article>
            <img src="img/prom4.jpg" alt="" />
        </article>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">


                <!--<div class="intro-message">-->
                <!--</div>-->
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!--<a class="link-nav" href="#about_us"><span class="glyphicon glyphicon-menu-down"></span></a>-->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<a  name="services"></a>
<div class="content-section-a light-bg" id="about_us">

    <div class="container">
        <div class="row">
            <h2 class="border-light" style="margin-top: 36px;">О нас</h2>
            <br>

            <div class="row">
                <div class="col-lg-6">
                    <p>Основанная в 2011 году, <span class="color-text">IntluxEnergy</span> за короткий срок зарекомендовала  себя в качестве гибкой и надежной компании в нефтегазовой отрасли.  </p>
                    <p>Как компания, мы ставим своей целью внести вклад  в развитие общества за счет всесторонней деятельности в области добычи и переработки нефти и газа.</p>
                    <p>Индивидуально, мы стремимся не только занимать достойную гражданскую позицию, но и проявлять смелость при внедрении инноваций. </p>
                </div>
                <div class="col-lg-6">
                    <p><b>Философия <span class="color-green">«IntluxEnergy»</span> строится на ценностях и принципах, сформулированных основателем компани:</b></p>
                    <ul>
                        <li>«Приоритет – качеству»</li>
                        <li>«Дух инноваций» </li>
                        <li>«Вклад в развитие общества»</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <p><b>Главным приоритетом и основным фокусом нашей компании является:</b></p>
                    <ul>
                        <li>Создание прочных партнерских отношений , что является гарантией  успеха,благодаря чему IntluxEnergy  укрепляет свои позиции на территории стран Европы и СНГ.</li>
                        <li>Всестороннее содействие построению процветающего глобального общества за счет создания и предоставления продуманных, совершенных и высококачественных услуг и оборудования для различных областей нефтегазовой отрасли.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <p>Эта философия подразумевает, что в своей работе сотрудники компании должны стремиться к внедрению инноваций и поиску новых решений, которые смогли бы принести пользу обществу и компании.</p>
                </div>

                <div class="col-lg-12">
                    <br>
                    <p>С более  чем 200 завершённых проектов на международном уровне, в основном , компания работает в области
                        добычи, переработки нефти и газа, и нефтехимии. </p>
                </div>
            </div>

            <hr class="hr">

            <div class="row">

                <h5 style="font-size: 16px;" class="text-center"><b>Мы предлагаем наш опыт и возможности в поставках с
                    решением любых трудностей и нестандартных ситуаций, а не железо и технологии.</b></h5>
        </div>

        </div>

    </div>
    <!-- /.container -->

    <!--<a class="link-nav" href="#our_missions"><span class="glyphicon glyphicon-menu-down" style="position: relative;"></span></a>-->


</div>

<!-- /.content-section-a -->
<div class="content-section-b dark-bg" id="our_missions">

    <div class="container">
        <div class="row">
            <h2 class="border-light" style="margin-top: 36px;">Цели и миссия</h2>

            <br><br>
            <div class="row">
                <div class="col-lg-6">
                    <p><b>НАША МИССИЯ И ВИДЕНИЕ:</b></p>
                    <ul>
                        <li>Построить прочные партнерские отношения с нашими заинтересованными сторонами и продвигать взаимовыгодные отношения.
                            Искать и выбирать бизнес-идеи, которые наилучшим образом служат общей цели.</li>
                        <li>Доверие в человеческий капитал, как самый успешный фактор нашего бизнеса.
                            Ценим наших людей и эффективно развиваем их талант. Построение команды с сильным духом сотрудничества,
                            направленных на высокое качество для успешной реализации проектов.</li>
                        <li>Сформировать процветания в полной безопасности и надежности. Мы считаем, успех в работе напрямую связан
                            с качеством генерации новых возможностей,  чтобы найти новые решения. Наша задача состоит в том, чтобы обеспечить
                            правильные услуги  для создания богатства для сообщества.
                            Мы гарантируем лучшую энергию и  производительность проектирования всем вместе.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <p><b>ОСНОВНЫЕ ЦЕЛИ:</b></p>
                    <ul>
                        <li>Обеспечить качество сервиса и услуг для наших международных торговых партнеров, обеспечивая исключительную ценность,
                            стабильную производительность и творческие решения в области логистики.</li>
                        <li>Инвестировать в качество людей с
                            энтузиазмом к совершенству и стремлению к улучшению</li>
                        <li>Обеспечить здоровую и безопасную рабочую среду с ресурсами и программами, предназначенных для повышения производительности
                            труда и повышения всем сотрудникам качества жизни.</li>
                        <li>Участвовать в ответственной гражданской позиции корпораций и поддерживать самые высокие этические и моральные нормы.</li>
                        <li>Сохранить лидирующие позиции в отношении скорости развития и прогресса  инновационных методов ведения бизнеса.</li>
                        <li>Относиться к нашим клиентам, поставщикам и сотрудникам исходя из норм справедливости, достоинства и уважения.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b light-bg" id="news-container">

    <div class="container">
        <h2 class="border-light" style="margin-top: 36px;">Новости</h2>
        <br>

        <div class="row">

            <div ng-repeat="new in news" class="col-sm-12 margin-bottom-10">
                <div class="col-sm-2 news-block">
                    <img ng-click="goToNewsDescribe(new._id);" ng-src="{{new.img.path}}" class="img-responsive" alt="">
                </div>
                <div class="col-sm-7">
                    <h4><a ng-click="goToNewsDescribe(new._id);">{{new.title}}</a></h4>
                    <p>{{new.description}}</p>
                </div>
                <div class="col-sm-3">
                    <br>
                    <span class="text-center">{{new.created}}</span>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-b dark-bg overflow-auto" id="products-container">

    <div class="container" style="background-color:transparent !important;border:none !important;">

        <h2 class="border-light" style="margin-top: 36px;">Оборудование</h2>
        <br>

        <div class="row product-list">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="product in products">
                <div class="col-sm-12 product-block min-height-222">
                    <h6 ng-click="productCategories(product);" class="text-center">{{product.title}}</h6>
                    <div class="img-block">
                        <img ng-click="productCategories(product);" ng-src="{{product.img.path}}" alt="" class="img-responsive">
                    </div>
                </div>
                <!--<p class="text-center">{{product.desriptionSmall}}</p>-->
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-a light-bg overflow-auto" id="services-container">

    <div class="container">

        <h2 class="border-light" style="margin-top: 36px;">Сервис</h2>
        <br>

        <div class="row product-list">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="service in services">
                <div class="col-sm-12 product-block min-height-222">
                    <h6 ng-click="serviceCategories(service);" class="text-center">{{service.title}}</h6>
                    <div class="img-block">
                        <img ng-click="serviceCategories(service);" ng-src="{{service.img.path}}" alt="" class="img-responsive">
                    </div>
                </div>
                <!--<p class="text-center">{{product.desriptionSmall}}</p>-->
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<a  name="contact"></a>
<div class="">

    <div class="content-section-b dark-bg" id="contacts">

        <div class="container">
            <div class="row">
                <h2 class="border-light" style="margin-top: 36px;">Обратная связь</h2>

                <div class="col-sm-6">
                    <form class="form-inline">
                        <div class="col-xs-12 text-center">
                            <div class="form-group margin-right">
                                <label for="input-name">Имя</label>
                                <input type="text" ng-model="contact.name" class="form-control" id="input-name" placeholder="">
                            </div>
                            <div class="form-group margin-left">
                                <label for="input-email">Почтовый адресс</label>
                                <input type="email" ng-model="contact.email" class="form-control" id="input-email" placeholder="">
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <div class="form-group margin-right">
                                <label for="input-city">Город</label>
                                <input type="text" class="form-control" ng-model="contact.city" id="input-city" placeholder="">
                            </div>
                            <div class="form-group margin-left">
                                <label for="input-phone">Номер телефона</label>
                                <input type="number" class="form-control" id="input-phone" ng-model="contact.phone" placeholder="">
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <label for="form-textarea">Сообщение</label>
                                <textarea class="form-control" id="form-textarea" ng-model="contact.message" rows="5"></textarea>
                            </div>
                        </div>

                        <button ng-click="sendEmail(contact)" type="submit" class="btn send-btn">Отправить</button>
                    </form>
                </div>

                <div class="col-lg-6 no-padding">
                    <br><br>
                    <div class="col-sm-6">
                        <p><b>Управляющий директор:</b> Максим Поляков
                            <br>
                            +442081333099
                            <br>
                            MaximPolyakov@intluxenergy.com
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p><b>Главный технический директор:</b> Михаил Панов
                            <br>
                            +442081333099
                            <br>
                            m.panov@intluxenergy.com
                        </p>
                    </div>
                    <br>
                    <div class="col-sm-6">
                        <p><b>Коммерческий директор:</b> Алексей Моисеев
                            <br>
                            +442081333099
                            <br>
                            +380675587890
                            <br>
                            amoiseev@intluxenergy.com
                        </p>
                    </div>
                    <br>
                    <div class="col-sm-6">
                        <p><b>Менеджер по логистике:</b> Артур Садко
                            <br>
                            +442081333099
                            <br>
                            Arthur.Sadko@intluxenergy.com
                        </p>
                    </div>
                    <br>
                    <div class="col-sm-6">
                        <p><b>Менеджер по поставкам:</b> Сара Шмидт
                            <br>
                            +442081333099
                            <br>
                            Sara.Shmidt@intluxenergy.com
                        </p>
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <p><b>Менеджер по продажам Украина:</b> Леонид Соловьёв
                            <br>
                            +442081333099
                            <br>
                            +380939728256
                            <br>
                            leonid.solovyov@intluxenergy.com
                        </p>
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <p><b>Менеджер по продажам Россия, Узбекистан, Казахстан, Туркменистан:</b>
                            <br>
                            +442081333099
                            <br>
                            office@intluxenergy.com
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<div class="light-overlay"></div>
