<div ng-controller="MapController" id="map-container">

    <div class="col-xs-12 no-padding contact_us">
        <h1 class="">О нас</h1>
        <p>С более чем 200 завершённых проектов на
            международном уровне, в основном , компания
            работает в области добычи, переработки нефти и газа, и нефтехимии.</p>
    </div>

    <br>
    <br>
    <h1 class="text-center">Сферы влияния</h1>
    <br>
    <div class="col-xs-12 no-padding" style="margin-bottom: 140px;">
        <div class="col-sm-7">
            <div id='map'></div>
        </div>
        <div class="col-sm-5">
            <ul>
                <li>
                    <input class="ui-checkbox" type="checkbox" id="test_1">
                    <label for="test_1">География продаж</label>
                </li>
                <li>
                    <input class="ui-checkbox" type="checkbox" id="test_2">
                    <label for="test_2">География поставщиков</label>
                </li>
                <li>
                    <input class="ui-checkbox" ng-click="changeMarkersForAll($event.target)" value="1" name="fooby" type="checkbox" id="test_3">
                    <label for="test_3">География партнеров</label>
                    <ul>
                        <li>
                            <input class="ui-checkbox" ng-click="changeMarkerKZ($event.target)" value="1" name="fooby" type="checkbox" id="test_4">
                            <label for="test_4">Intlux KZ</label>
                        </li>
                        <li>
                            <input class="ui-checkbox" ng-click="changeMarkerUSA($event.target)" value="1" name="fooby" type="checkbox" id="test_5">
                            <label for="test_5">Intlux USA</label>
                        </li>
                        <li>
                            <input class="ui-checkbox" ng-click="changeMarkerUA($event.target)" value="1" name="fooby" type="checkbox" id="test_6">
                            <label for="test_6">Intlux UA</label>
                        </li>
                        <li>
                            <input class="ui-checkbox" ng-click="changeMarkerRU($event.target)" value="1" name="fooby" type="checkbox" id="test_7">
                            <label for="test_7">Intlux RU</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <hr class="hr">

    <div class="col-xs-12 no-padding" style="margin-bottom: 140px;background-color: white;color: #313c44;">
        <br>
        <h1 class="text-center" style="color:#8bb95f;">Брэнды</h1>
        <br>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2 no-padding text-center">
                <h3>JohnCrane</h3>
                <img style="width: 170px;" src="img/johncrane.gif" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>FlowServe</h3>
                <img style="width: 170px;" src="img/Flowserve.png" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>AlfaLaval</h3>
                <img style="width: 170px;" src="img/AlfaLaval.png" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>KSB</h3>
                <img style="width: 170px;" src="img/KSB_Logo.png" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>Flygt</h3>
                <img style="width: 170px;" src="img/logoFlygt.png" alt="">
            </div>
            <div class="col-xs-1"></div>
        </div>

        <br>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2 no-padding text-center">
                <h3>Grundfos</h3>
                <img style="width: 170px;" src="img/grundfos.png" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>Cameron</h3>
                <img style="width: 170px;" src="img/cameron.png" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>Ariel</h3>
                <img style="width: 170px;" src="img/ariel.jpg" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>Grif</h3>
                <img style="width: 170px;" src="img/grif.jpg" alt="">
            </div>
            <div class="col-xs-2 no-padding text-center">
                <h3>Spec</h3>
                <img style="width: 170px;" src="img/spec.png" alt="">
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>