<div class="content-section-a no-background" id="news-describe-container">

    <a class="link-nav"
       style="left: 105px;margin-top: 13px;
       cursor:pointer;display:block;position: absolute;
       font-size: 40px;color: #694e99;" ng-click="goToBlock()"><span class="glyphicon glyphicon-menu-left"></span></a>

    <div class="container">

        <h3 class="text-center">{{news[0].title}}</h3>
        <br>

        <div class="row">
            <div class="col-lg-5">
                <img ng-src="{{news[0].img.path}}" alt="" class="img-responsive">
            </div>
            <div class="col-lg-7">
                <p ng-bind-html="toTrustedHTML(news[0].content)"></p>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- /.container -->

</div>