<br>
<br>
<br>
<br>
<div class="content-section-b no-background border-color-transparent" id="products-container">

    <div class="container">

        <div class="row product-list" ng-repeat="product in products">

            <a class="arrow-go-back" style="cursor:pointer;display:block;position: absolute;font-size: 40px;color: #694e99;" data-scroll-item="#products-container" ng-click="goToBlock(product)"><span class="glyphicon glyphicon-menu-left"></span></a>

            <h2 class="border-light">{{product.name}}</h2>
            <br>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="subProduct in product.subCategories">
                <div class="col-sm-12 no-padding">
                    <h4 class="text-center h6-min-height">{{subProduct.name}}</h4>
                </div>
                <img ng-click="productCategories(subProduct);" ng-src="{{subProduct.img}}" alt="" class="img-responsive">
                <!--<p class="text-center">{{subProduct.descriptionSmall}}</p>-->
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>