<br>
<br>
<br>
<br>
<div class="content-section-b no-background border-color-transparent" id="products-container">

    <div class="container">

        <div class="row product-list">

            <a class="arrow-go-back" style="cursor:pointer;display:block;position: absolute;font-size: 40px;color: #694e99;" data-scroll-item="#products-container" ng-click="goBack(currentService[0].serviceId)"><span class="glyphicon glyphicon-menu-left"></span></a>

            <h2 class="border-light">{{currentService[0].title}}</h2>
            <br>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="service in services">
                <div class="col-sm-12 product-block">
                    <h4 class="text-center">{{service.title}}</h4>
                    <img ng-click="productCategories(service);" ng-src="{{service.img.path}}" alt="" class="img-responsive">
                </div>
                <!--<p class="text-center">{{subProduct.descriptionSmall}}</p>-->
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>