@font-face {
    font-family: 'newFont';
    url('GT-Eesti-Pro-Display-Thin.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}


html, body {
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;


    font-weight: 100;
    /* background-color: #F7F7F7; */
    background: #fffbbf;
    background: -moz-linear-gradient(45deg, rgba(232, 243, 255, 0.62) 30%,rgba(236, 245, 255, 0.58) 42%,#ffffff 100%);
    background: -webkit-linear-gradient(45deg, rgba(232, 243, 255, 0.62) 30%,rgba(236, 245, 255, 0.58) 42%,#ffffff 100%);
    background: linear-gradient(45deg, rgba(232, 243, 255, 0.62) 30%,rgba(236, 245, 255, 0.58) 42%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbbf', endColorstr='#fffdef',GradientType=1 );




background: #360033; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



background: #70e1f5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1, h2, h3, h4, h5, h6, label {
    font-weight:100;
    /*font-family: 'Cuprum', sans-serif !important;*/
    /*font-family: 'Poiret One', cursive;*/
}

.no-background {
    background-color:transparent !important;
}
.margin-bottom-10 {
    margin-bottom:10px;
}

#products-container img {
    width: 100%;
    height: 155px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.img-block {
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    overflow:hidden;
    margin: auto;
}
#products-container img:hover {
    /*transform: scale(1.3);*/
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    /*position: absolute;*/
    /*z-index: 10;*/
}
#services-container img {
    margin-bottom:10px;
    margin:auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#services-container img:hover {
    /*transform: scale(1.3);*/
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    /*position: absolute;*/
    /*z-index: 10;*/
}

.intro-header {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    color: #f8f8f8;
    /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
    background: none;
    background-size: cover;
    height: 100%;
}


.content-section-a {
    padding: 10px 0;
    /*background-color: #F7F7F7;*/
    background-color: transparent;
    height:102%;
    min-height: 87vh;
}
.content-section-a .container:first-child, .content-section-b .container:first-child {
    margin-top: 3px;
}
#contacts .row:first-child {
    margin-top: 30px;
}


/*.water-symbol {*/
    /*background-image: url('../img/vodjanoy-znak.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*width:100%;*/
    /*height:100%;*/
    /*position: fixed;*/
/*}*/

.border-color-transparent {
    border-color:transparent !important;
}


.content-section-b {
    padding: 10px 0;
    /*border-top: 1px solid #e7e7e7;*/
    /*border-bottom: 1px solid #e7e7e7;*/
    /*border-top: 1px solid #8bb95f;*/
    /*border-bottom: 1px solid #8bb95f;*/
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    height: 102%;
    min-height: 87vh;
    /*background-color:white;*/
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.07) !important;
}
.light-bg {
    /*background-color: rgba(255, 255, 255, 0.35);*/
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.88);
    /* border-color: #FFFFFF; */
    /*border-color: rgb(89, 58, 101);*/
    color: #313131;
    min-height:100px;
    font-family: 'Comfortaa', cursive;
}
.navbar-default .nav a, .navbar-default .navbar-brand {
    color: #444444 !important;
    font-weight: 100;
}
.nav a:hover {
    color: #8bb95f !important;
}
.navbar-default .navbar-collapse {
    margin-top: 49px;
}
.navbar-brand img {
    display: inline-block;
    width: 110px;
    margin-top: -12px;
    float: left;
}
.brand-name {
    display: inline-block;
    float: left;
    font-size: 25px;
    line-height: 2;
}
.brand-name-description {
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 0.01;
    color: #d4d4d4;
}


/*
* Footer
*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.88);
    z-index: 10;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
    color: #444444 !important;
}
.footer span {
    font-size: 13px;
}

/*
* Contacts
*/
#contacts {
    margin-bottom: 97px;
}
#contacts form {
    margin-top: 30px;
}
#contacts form input {
    border-radius: 0;
    box-shadow: none;
    width: 250px;
}
#contacts form textarea {
    width: 522px;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom:20px;
}
#contacts form textarea:focus {
    box-shadow:none;
    -webkit-box-shadow: none;
}
#contacts .col-xs-12 {
    margin-top: 15px;
}
#contacts label {
    display: block;
    text-align: left;
}
.send-btn {
    display: block;
    margin: auto;
    border-radius: 0;
    color: white;
    background-color: #886dc1;
    outline: none;
}
.send-btn:hover {
    color: white !important;
    background-color: #6b5399;
}

.margin-left {
    margin-left: 10px;
}
.margin-right {
    margin-right: 10px;
}
#map-container {
    margin-top:100px;
}
#map-container ul li {
    display: block;
}
#map-container .contact_us {
    margin-bottom: 30px;
    padding: 15px 35px;
    padding-right: 100px;
    background-color: rgba(0, 0, 0, 0.58);
}
    #map-container .contact_us h1 {
        font-size: 45px;
        color: #a8c789;
    }
    #map-container .contact_us p {
        font-size: 20px;
        line-height: 1.1;
    }

/*
* Slider
*/
#slider {
    position: relative;
    height: 100%;
}
#slider .sizer {
    width: 100%;
}
#slider img {
    width: 100%;
    height: 100%;
}
#slider article {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
#slider article.show {
    opacity: 1;
    z-index: 1;
}


/*
* news container
*/
#news-container, #news-container .container,
#news-container .container .row,
#news-container .container .row .carousel-inner,
#news-container .container #carousel-example-generic {
    height:100%;
}

#news-container {
    overflow-y: auto;
    width: 85%;
    margin: auto;
    overflow-x: hidden;
}

#news-container::-webkit-scrollbar {
    width: 7px;
}

#news-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0;
}

#news-container::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(139, 185, 95, 0.68);
    -webkit-box-shadow: none;
}





#panel {
    position: absolute;
    top: 5px;
    left: 40%;
    margin-left: -180px;
    z-index: 5;
    background-color: #ffb052;
    padding: 5px;
    border: 1px solid #999;
    color: #444;
    /*font-family: Arial;*/
    font-family: 'PT Sans', sans-serif;
}

#map {
    display: inline-block;
    float: left;
    border: 5px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.21);
    width: 100%;
    height: 350px;
    margin-left: 20px;
}
#mapAll {
    float: left;
    border: 5px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.21);
    width: 100%;
    height: 350px;
    margin-left: 20px;
}

.countries-marker {
    text-align: center;
}





.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 800px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: none;
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    right: 35px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: none;
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    z-index: 8;
    right: 33px;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #694e99;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top:0;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.mega-dropdown-menu nav a {
    color: black !important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 120px;
     bottom: auto;
    left: 15%;
    z-index: 10;
     padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.slider-title {
    display: block;
    color: black;
    text-align: center;
    margin: auto;
    left: 0;
    top: 40%;
    right: 0;
    width: 58%;
    z-index: 100;
}







.btn-2 {
    color: #843c67;
    cursor: pointer;
    text-transform: uppercase !important;
}
.default .btn-2:before, .light-green .btn-2:before, .dark .btn-2:before {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent rgba(139, 185, 95, 0.6);
    position: absolute;
    bottom: 0;
    left: -36px;
}
.btn-2:after {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent rgba(105, 78, 153, 0.6) transparent transparent;
    position: absolute;
    top: 0;
    right: -48px;
}
.default .btn-2:hover, .light-green .btn-2:hover, .dark .btn-2:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.36);
}
.default .btn-2:hover:before, .light-green .btn-2:hover:before, .dark .btn-2:hover:before {
    border-width: 165px 0 0 165px;
}
.default .btn-2:hover:after, .light-green .btn-2:hover:after, .dark .btn-2:hover:after {
    border-width: 0 165px 165px 0;
}
.default .btn-2:active, .light-green .btn-2:active, .dark .btn-2:active {
    background: #6e194c;
}
.btn-2 {
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 200px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
    text-decoration: none;
    line-height: 48px;
    color: #32580d;
    background-color: rgba(255, 255, 255, 0.59);
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    height: 50px;
}
.btn-2 span {
    position: absolute;
    display: block;
    z-index: 100;
    left: 0;
    right: 0;
}

.centerer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.wrap {
    width: 50%;
    float: left;
}
.default .btn-2, .default .btn-2:before,
.default .btn-2:after, .light-green .btn-2, .light-green .btn-2:before, .light-green .btn-2:after,
.dark .btn-2, .dark .btn-2:before,
.dark .btn-2:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
html i, html em,
html b, html strong,
html span {
    /*-webkit-transition: none;*/
    /*transition: none;*/
}
@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}







.shadow-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 1;
}





.border-light {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    display: block;
    text-align: center;
}

.show-div-footer {
    display: none;
}

.resized-footer {
    min-height: 50px !important;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
    height:auto;
}
.resized-footer .show-div-footer {
    display: block;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}

.dark nav.resized {
    min-height: 50px !important;
    background-color: rgba(25, 25, 25, 0.91) !important;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.resized .navbar-collapse {
    margin-top: 0 !important;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.resized .navbar-brand img {
    width: 52px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.resized .brand-name {
    line-height: 0.3;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.resized .brand-name-description {
    line-height: 2;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}

.color-text {
    color: #875ed0;
    font-weight: 600;
}
.slider-title-color {
    color: #8bb95f;
}
.slider-title-color span {
    color: #694e99;
}
.color-green {
    color: #8bb95f;
}

#our_missions li {
    margin-bottom: 15px;
}

.read-more {
    background-color: #8bb95f;
    border: none;
    padding: 6px 30px;
}
.read-more:hover {
    background-color: #a1d571;
    cursor: pointer;
}

#products-categories-container, #news-describe-container {
    height:auto;
    padding-top:100px;
}

#news-describe-container .col-lg-7 p a {
    color: #bb9af7;
    font-weight:600;
}
#news-describe-container .col-lg-7 p a:hover {
    color: #9075c3;
    text-decoration: none;
}

.no-padding {
    padding:0;
}

/*#products-container h6 {*/
    /*margin-top:0;*/
/*}*/

#products-categories-container li {
    margin-bottom: 15px;
}


.glyphicon-menu-down {
    display: block;
    position: absolute;
    top: 84%;
    z-index: 20;
    font-size: 60px;
    font-weight: 100;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
    height: 100px;
    color: #694e99;
    cursor: pointer;
}
.glyphicon-menu-down:hover {
    color: #8769ca;
    text-shadow:0 0 10px rgba(255, 255, 255, 0.6);
}

#signin-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

@media(max-width: 960px) {
    .intro-header, .content-section-a, .content-section-b, #news-container, #news-container .container,
    #news-container .container .row,
    #news-container .container .row .carousel-inner,
    #news-container .container #carousel-example-generic {
        height:auto;
    }
    #slider {
        height:100vh;
        overflow-y:hidden;
    }
}


/*.slider-title-color {*/
    /*display: table;*/
    /*margin: 0 auto;*/
    /*font-family: "Roboto Slab";*/
    /*font-weight: 400;*/
    /*font-size: 6em;*/
    /*background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*line-height: 200px;*/
/*}*/

/*.slider-title-color {*/
    /*text-transform: uppercase;*/
    /*letter-spacing: .5em;*/
    /*display: inline-block;*/
    /*border: 4px double rgba(255, 255, 255, 0.25);*/
    /*border-width: 4px 0;*/
    /*padding: 1.5em 0em;*/
    /*position: absolute;*/
    /*top: 18%;*/
    /*left: 50%;*/
    /*width: 40em;*/
    /*margin: 0 0 0 -20em;*/
/*}*/
/*.slider-title-color span {*/
    /*font: 700 2em/1 "Oswald", sans-serif;*/
    /*letter-spacing: 0;*/
    /*padding: .25em 0 .325em;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);*/
    /*!* Clip Background Image *!*/


    /*!*background: #6a3093; !* fallback for old browsers *!*!*/
    /*!*background: -webkit-linear-gradient(to left, #6a3093 , #a044ff); !* Chrome 10-25, Safari 5.1-6 *!*!*/
    /*background: linear-gradient(to left, #6a3093 , #a044ff) repeat-y; !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    /*!*background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;*!*/
    /*-webkit-background-clip: text;*/
    /*!* Animate Background Image *!*/
    /*-webkit-text-fill-color: transparent;*/
    /*-webkit-animation: aitf 80s linear infinite;*/
    /*!* Activate hardware acceleration for smoother animations *!*/
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-webkit-backface-visibility: hidden;*/
/*}*/

/* Animate Background Image */
/*@-webkit-keyframes aitf {*/
    /*0% {*/
        /*background-position: 0% 50%;*/
    /*}*/
    /*100% {*/
        /*background-position: 100% 50%;*/
    /*}*/
/*}*/









@import "http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://daneden.github.io/animate.css/animate.min.css";
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
    position: relative;
    overflow-x: hidden;
}
body,
html {
    height: 100%;
    /*background-color: #583e7e;*/
}
.nav .open > a {
    background-color: transparent;
}
.nav .open > a:hover {
    background-color: transparent;
}
.nav .open > a:focus {
    background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
}
#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 220px;
    z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}
#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
    color:black !important;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}
.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}
.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}
.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #402d5c;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #4c366d;
}
.active-sidebar {
    background-color: #4c366d;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #583e7e;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #64468f;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #704fa0;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #7c5aae;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #8a6cb6;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #987dbf;
}
.sidebar-nav li:hover:before {
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}
.sidebar-nav li.open:hover, .sidebar-nav li.open:before {
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 999;
}
.hamburger:hover {
    outline: none;
}
.hamburger:focus {
    outline: none;
}
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-closed:hover, .hamburger.is-closed:before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}
.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}
.hamburger.is-closed .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #fff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open .hamb-middle {
    background-color: #fff;
    display: none;
}
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #fff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-open:hover, .hamburger.is-open:before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}




nav a {
    cursor:pointer;
}



/*
See the explanation of the animation here:
http://codepen.io/timseverien/pen/yvJkm
*/
@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}
@-moz-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}
@-ms-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}
@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}

.intro-header-title {
    position: absolute;
    top: 45%;
    z-index: 3;
    left: 0;
    right: 0;
    text-align: center;
}

.checkbox, .checkbox-alt {
    background-color: #fff;
    display: inline-block;
    height: 50px;
    margin: 0 0.25em;
    width: 50px;
}
.checkbox label, .checkbox-alt label {
    display: block;
    height: 50px;
    position: relative;
    width: 50px;
}
.checkbox label:after, .checkbox-alt label:after {
    /*
    This element has a border on the right, and top. By rotating it looks like a check symbol, but the wrong way. That's why I'm flipping it with scaleX(-1)
    */
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    /*
    I want to position the symbol using the left top, because when increasing the width and height of an object, it expands from the top left corner as well. That is what makes it looks like it's being drawn.
    */
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid #cee;
    border-top: 4px solid #cee;
    content: '';
    display: block;
    height: 20px;
    left: 14px;
    position: absolute;
    top: 26px;
    width: 10px;
}
.checkbox label:hover:after, .checkbox-alt label:hover:after {
    border-color: #bdd;
}
.checkbox input, .checkbox-alt input {
    display: none;
}
.checkbox input:checked + label:after, .checkbox-alt input:checked + label:after {
    -webkit-animation: check 0.8s;
    -moz-animation: check 0.8s;
    -o-animation: check 0.8s;
    animation: check 0.8s;
    border-color: #6aa;
}
.checkbox.checkbox-alt label:hover:after, .checkbox-alt.checkbox-alt label:hover:after {
    -webkit-animation: check 0.8s ease infinite;
    -moz-animation: check 0.8s ease infinite;
    -o-animation: check 0.8s ease infinite;
    animation: check 0.8s ease infinite;
}
.checkbox.checkbox-alt input:checked + label:after, .checkbox-alt.checkbox-alt input:checked + label:after {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}




.admin-products-wrapper {
    background-color: white;
    padding: 10px;
    border-top: 4px solid #8bb95f;
}
.admin-products-wrapper ul li {
    /*display: block;*/
    margin-bottom:5px;
}
.admin-products-wrapper ul {
    margin-bottom:10px;
    /*border-bottom:1px solid lightgrey;*/
    padding-bottom:10px;
}
.admin-products-wrapper ul li span:hover {
    color:#8bb95f;
    cursor: pointer;
}






.list-item { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid gray;}

.list-item:last-child { border: 0px;}

#list-item-template { display: none; }

#mainUI { width: 80%; border: 0px solid black;  padding: 10px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px; display: block; height: 1%; overflow: hidden; }

.titleText { font-size: 2.4em; font-weight: bold; letter-spacing: -.04em; margin-left: 20px; }

textarea { width: 100%; height: 100%; }

.descText { width: 100%; height: 100%; }

.editBox textarea { width: 100%; height: 100%; }

.mce-content-body { height: 350px;}

.action-buttons { text-align: center; }



/*  FOR THE BUTTONS */

.myButton {
    margin: 20px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C5C5C5), color-stop(1, #E9E9E9));
    background:-moz-linear-gradient(top, #C5C5C5 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #C5C5C5 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #C5C5C5 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #C5C5C5 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #C5C5C5 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C5C5C5', endColorstr='#E9E9E9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:2px solid #999;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    /*font-family:arial;*/
    font-family: 'PT Sans', sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    color: black;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C5C5C5), color-stop(1, #E9E9E9));
    background:-moz-linear-gradient(top, #C5C5C5 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #C5C5C5 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #C5C5C5 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #C5C5C5 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #C5C5C5 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C5C5C5', endColorstr='#E9E9E9',GradientType=0);
    background-color:#e9e9e9;
    border:2px solid #666;
}
.myButton:active {
    position:relative;
    top:1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}

.top-3 {
    top:3px;
}
.footer .back-to-top {
    display: block;
    position: absolute;
    bottom: 0;
    width: 10px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 33px !important;
    color: #694e99;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.footer .back-to-top span {
    font-size: 33px !important;
}
.back-to-top:hover {
    cursor: pointer;
    color: rgba(105, 78, 153, 0.59);
}
.back-to-top:focus {
    color: rgba(105, 78, 153, 0.59);
}

.change-lang {
    display: block;
    position: absolute;
    right: 29px;
    top: 3px;
    font-size: 16px;
    color: #8a8a8a;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
p.change-lang a {
    color: #8bb95f;
    font-weight: 600;
}
p.change-lang a:hover {
    color: #648544;
    cursor: pointer;
    text-decoration: none;
}
p.change-lang a:focus {
    color: #648544;
}

.change-lang-collapse {
    font-size:15px;
    font-weight: 100;
    right: 37px;
    top: -1px;
}
.change-lang-collapse a {
    font-weight: 100;
}

#news-container a {
    color: rgba(105, 78, 153, 0.51);
    font-weight: 600;
}
#news-container a:hover {
    color: #694e99;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
#news-container a:focus {
    color: rgba(105, 78, 153, 0.51);
    text-decoration: none;
}

.product-list h6 {
    border-bottom: 1px solid #a180dc;
    font-size: 15px;
    min-height: 53px;
}
.product-block h4 {
    font-size: 15px;
    min-height: 64px;
}
.h6-min-height {
    min-height: 39px !important;
}


.sidebar-brand a {
    padding-left: 5px !important;
}
.sidebar-brand a img {
    width: 60px !important;
    margin-top: 0 !important;
}
.sidebar-brand .brand-name {
    font-size: 16px !important;
    float: left !important;
    line-height: 2 !important;
}
.sidebar-brand .brand-name-description {
    font-size: 10px !important;
}





.dropzone {
    color: #333;
    border: 2px dashed #BDBDBD;
    padding: 24px;
    margin: 24px 0;
    text-align: center;
    cursor: pointer;
}
.dropzone:hover, .dropzone.dz-started {
    border-color: #2196F3;
}

.dropzone--preview {
    margin: 12px;
}

.dropzone--dropzoneMessage {
    color: inherit;
    font-size: 24px;
    font-weight: 300;
    line-height: 1em;
}
.dropzone--dropzoneMessage small {
    opacity: .67;
    font-size: 65%;
}

.dropzone--dropzoneFallback {
    font-size: 15px;
    font-weight: 300;
    opacity: .67;
    margin-bottom: 0;
}

.dropzone--preview {
    text-align: center;
}

.dropzone--dropzoneImageWrapper {
    position: relative;
    display: inline-block;
    max-width: 600px;
}

.dropzone--dropzoneRemoveImage {
    position: absolute;
    top: 12px;
    right: 12px;
}

.dz-drag-hover {
    border: 2px solid #2196F3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #BDBDBD;
}

.chang-lang-mobile {
    display: none;
}




.wrapper{
    background: #fff;
    width: 100%;
    padding: 1em 1em 1em;
    margin: 0 auto;
}
.item{
    border-bottom: solid 1px;
    color: rgb(200,200,200);
}
.item h2{
    diaplay:inline;
    margin:;
}
.item .description{
    clear:both;
    overflow:hidden;
    max-height:0;
    transition:0.5s ease;
    color:green;
}
.item input[type=checkbox]{
    display:none;
}
.item input[type=checkbox] ~ label{
    display: block;
    float: right;
    width: 2em;
    height: 2em;
    background: #4c366d;
    color: #fff;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    cursor: pointer;
}
.item input[type=checkbox] ~ label:hover{
    background:darkgreen;
}
.item input[type=checkbox]:checked ~ label{
    background:green;
}
.item input[type=checkbox]:checked ~ h2{
    color:green;
}
.item input[type=checkbox]:checked ~ .description{
    max-height:200em;
    transition:0.5s ease;

}



.light-overlay {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    background-color: rgba(255, 255, 255, 0.33);
}




@media(max-width:1280px){
    html, body {
        height:auto !important;
    }
}
@media(max-width:1020px){
    html, body {
        height:auto !important;
    }
}
@media(max-width:850px){
    #slider img {
        width:auto;
    }
}
@media(max-width:768px){
    .navbar-default {
        min-height: 50px;
    }
    .navbar-brand img {
        width: 50px;
    }
    .brand-name {
        font-size: 18px;
        line-height: 1;
    }
    .brand-name-description {
        font-size: 12px;
        line-height: 1;
    }
    .chang-lang-mobile {
        display: block;
        position: relative;
        right: 0;
        padding-left: 15px;
        padding-bottom: 10px;
        margin: 0;
        padding-right: 15px;
        top: inherit;
        text-align: right;
    }
    .chang-lang-desktop {
        display:none;
    }
    .navbar-default .navbar-collapse {
        margin-top: 0;
    }
    .slider-title {
        top: 200px;
        background-color: rgba(255, 255, 255, 0.43);
        padding-top: 18px !important;
    }
    .slider-description {
        top: 245px !important;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.43);
        padding-bottom: 18px;
    }
}
@media(max-width:500px){
    .slider-description {
        top: 280px !important;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.43);
        padding-bottom: 18px;
    }
}




.slider-title {
    background-color: rgba(255, 255, 255, 0.43);
    padding-top: 18px !important;
}
.slider-description {
    background-color: rgba(255, 255, 255, 0.43);
    padding-bottom: 18px;
}





.wrapper-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    background: rgba(255, 255, 255, 0.23);
}

.loader {
    border: 1px solid rgba(255, 255, 255, 0.52);
    border-top-color: #886dc1;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 16px;
    width: 16px;

    -webkit-animation: loaderSpin 1s infinite linear;
    animation: loaderSpin 1s infinite linear;
}
.loader--thickness-3 { border-width: 3px; }

.loader--size-64 { height: 64px; width: 64px; }

@-webkit-keyframes loaderSpin {
    0%   { -webbkit- transform: rotate(0deg); }
    100% { -webbkit- transform: rotate(360deg); } }
@keyframes loaderSpin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } }


.product-block {
    background-color: rgb(255, 255, 255);
    padding-bottom: 15px;
    border-top: 4px solid #694e99;
    border-bottom-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 210px;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    float: none;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}

.product-block:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.45);
    transform: scale(1.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}

.news-block {
    background-color: rgba(0, 0, 0, 0.18);
    padding: 12px;
    border-top: 4px solid white;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.news-block:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.45);
    transform: scale(1.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}

#services-container .product-block {
    border-top: 4px solid #9dc376;
}

#services-container .product-list h6 {
    border-bottom: 1px solid #c3ea9b;
}



.ui-checkbox {
    display: none;
}

.ui-checkbox + label {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    font-size: 15px;
}

.ui-checkbox + label:before {
    background-color: #fff;
    border: 1px solid #a17fdc;
    padding: 9px;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}



.ui-checkbox:checked + label:before {
    border: 1px solid #a17fdc;
    color: #99a1a7;
}

.ui-checkbox.no-border:checked + label:before {
    border-color: transparent;
}



.ui-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #8bb95f;
}

.ui-checkbox.green-tick:checked + label:after {
    color: #8cc63f;
}

.ui-radio {
    display: none;
}

.ui-radio + label{
    position: relative;
    padding-left: 20px;
    display: inline-block;
}
.ui-radio + label:before {
    background-color: #fff;
    border: 1px solid #30b0d7;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    content: ' ';
    width: 16px;
    height: 16px;
    top:0px;
    left:0px;
}

.ui-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    background: #30b0d7;
    top: 3px;
    left: 3px;
}

.ui-radio:checked + label:before {
    color: #99a1a7;
    border: 1px solid #30b0d7;
}

















.dark {
    background: #304352 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #304352 , #d7d2cc) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #304352 , #d7d2cc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white !important;
    font-size:15px;
}
.dark p.change-lang a {
    color: #d7f1bf;
    font-weight: 600;
    border-radius: 100%;
    text-align: center;
    /*width: 26px;*/
    display: inline-block;
    padding: 2px 4px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.dark p.change-lang a i {
    width: 33px;
    display: inline-block;
}
.dark p.change-lang a i span {
    position: absolute;
    top: 14px;
    margin-left: 13px;
    font-style: normal;
}
.dark p.change-lang a:hover {
    color: #a387d6;
    cursor: pointer;
    text-decoration: none;
}
.dark body {
    color:white !important;
}
.dark .navbar-default{
    /*background-color: rgba(0, 0, 0, 0.71) !important;*/
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: white;
}
.dark .navbar-default .navbar-collapse{
    margin-right: 65px;
}
.dark hr {
    margin-bottom:0;
}
.dark footer{
    background-color: rgba(0, 0, 0, 0.71) !important;
    color: white !important;
}
.dark .navbar-default .nav a, .dark .navbar-default .navbar-brand{
    color: white !important;
    font-family: 'Roboto', sans-serif;
}
.dark .navbar-default .navbar-nav>li>a {
    color: white !important;
    font-family: 'Roboto', sans-serif !important;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight:500;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
    /*text-transform: capitalize !important;*/
}
.dark .navbar-default .navbar-nav>li>a:hover {
    color: #afe37a !important;
    border-color:#afe37a;
    cursor: pointer;
}
.dark #products-container .container, .dark #products-categories-container .container,
.dark #products-categories-container .container {
    background-color: rgba(0, 0, 0, 0.45) !important;
    border-top: 4px solid #8bb95f !important;
}
.dark #products-categories-container .container img {
    border: 2px solid white;
    margin-bottom: 10px;
    width: 500px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.21);
}
.dark .arrow-go-back {
    color: #a280de !important;
    margin-left: 25px;
    margin-top: 10px;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    font-family: 'Roboto', sans-serif !important;
}
.dark .navbar-nav>li>.dropdown-menu {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0;
}
.dark .navbar-nav>li>.dropdown-menu a {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.71) !important;
    font-family: 'Roboto', sans-serif;
    border: 4px solid transparent;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.dark .navbar-nav>li>.dropdown-menu a:hover {
    background-color: rgba(139, 185, 95, 0.6) !important;
    color: #ffffff !important;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.dark .slider-title {
    background-color: rgba(0, 0, 0, 0.43);
    padding-top: 18px !important;
    color:white !important;
}
.dark .slider-title-color {
    color: #afe37a !important;
}
.dark .slider-title-color span {
    color: #a383de !important;
}
.dark .btn-2 {
    color:white !important;
    background-color: rgba(0, 0, 0, 0.71) !important;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.dark .btn-2:hover {
    color:white !important;
    border-color: white !important;
    /*background-color: white !important;*/
}
.dark .product-block {
    background-color: rgba(0, 0, 0, 0.31);
    padding-bottom: 15px;
    border-top: 4px solid #b69ce4;
    border-bottom-radius: 0px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
    height: auto;
    min-height: 240px;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    float: none;
    margin-bottom: 20px;
}
.dark .min-height-222 {
    min-height: 222px !important;
}




.light-dark {
    background: #4b6cb7 !important;
    background: -webkit-linear-gradient(to left, #4b6cb7 , #182848) !important;
    background: linear-gradient(to left, #4b6cb7 , #182848) !important;
}
.light-dark body {
    color:white !important;
}
.light-dark .navbar-default .navbar-collapse {
    margin-top: 30px;
}
.light-dark  .navbar-default, .light-dark footer{
    background: #1d2f53 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1d2f53 , #0f192d) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1d2f53 , #0f192d) !important;
    color:white !important;
}
.light-dark .slider-title {
    background-color: rgba(0, 0, 0, 0.43);
    padding-top: 18px !important;
    color: white !important;
    background: #1d2f53 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(29, 47, 83, 0.77), #0f192d) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(29, 47, 83, 0.77), #0f192d) !important;
}
.light-dark .btn-2 {
    color: white !important;
    background-color: rgb(21, 34, 60) !important;
}
.light-dark .btn-2:hover {
    color: white !important;
    background-color: rgba(54, 95, 162, 1) !important;
}
.light-dark .navbar-default .nav a, .light-dark .navbar-default .navbar-brand{
    color: white !important;
    font-family: 'Open Sans Condensed', sans-serif;
}
.light-dark .navbar-default .navbar-nav>li>a {
    color: white !important;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.light-dark .navbar-default .navbar-nav>li>a:hover {
    color: #afe37a !important;
    cursor: pointer;
}
.light-dark .navbar-nav>li>.dropdown-menu {
    background-color: rgba(29, 47, 83, 1) !important;
}
.light-dark .navbar-nav>li>.dropdown-menu a {
    color: white !important;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}
.light-dark .navbar-nav>li>.dropdown-menu a:hover {
    background-color: rgb(50, 87, 148) !important;
}
.light-dark .slider-title-color {
    color: #afe37a !important;
}
.light-dark .slider-title-color span {
    color: #a383de !important;
}
.light-dark #news-container a {
    color: #8bb95f;
    font-weight: 600;
}
.light-dark #news-container a:hover {
    color: #b2e87a;
    font-weight: 600;
}
.light-dark .product-block {
    background-color: rgb(19, 32, 57);
    padding-bottom: 15px;
    border-top: 2px solid #9b77dc;
    border-bottom-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 210px;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    float: none;
    margin-bottom: 20px;
}
.light-dark #services-container .product-block {
    border-top: 2px solid #9dc376;
}






.light-green {
    background: #3CA55C;
    background: -webkit-linear-gradient(to left, #3CA55C , #B5AC49);
    background: linear-gradient(to left, #c1ffd4 , #f3eca0);
}
.light-green body {
    color:black !important;
    font-family: 'Didact Gothic', sans-serif !important;
    font-size:15px;
}
.light-green hr {
    margin-bottom:0;
}
.light-green h1, .light-green h2, .light-green h3, .light-green h4, .light-green h5, .light-green h6 {
    font-family: 'Roboto Slab', serif;
}
.light-green .navbar-default .navbar-collapse {
    margin-top: 30px;
}
.light-green  .navbar-default, .light-green footer{
    background: #DAD299;
    background: -webkit-linear-gradient(to left, #DAD299 , #B0DAB9);
    background: linear-gradient(to left, #DAD299 , #B0DAB9);
    color:white !important;
}
.light-green footer{
    /*color:black !important;*/
}
.light-green .slider-title {
    background-color: rgba(0, 0, 0, 0.43);
    padding-top: 18px !important;
    color: white !important;
    background: #DAD299;
    background: -webkit-linear-gradient(to left, #DAD299 , #B0DAB9);
    background: linear-gradient(to left, rgba(218, 210, 153, 0.68) , rgba(176, 218, 185, 0.61));
}
.light-green .navbar-default .nav a, .light-green .navbar-default .navbar-brand{
    color: white !important;
}
.light-green .navbar-default .navbar-nav>li>a {
    color: white !important;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.light-green .resized .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.light-green .navbar-default .navbar-nav>li>a:hover {
    color: #a383de !important;
    cursor: pointer;
    background-color: white !important;
}
.light-green .navbar-nav>li>.dropdown-menu {
    background-color: rgba(176, 218, 185, 0.84) !important;
    border-radius: 0;
    padding: 0;
}
.light-green .navbar-nav>li>.dropdown-menu a {
    color: white !important;
    padding-top:5px;
    padding-bottom:5px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}
.light-green .navbar-nav>li>.dropdown-menu a:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #a383de !important;
}
.light-green .slider-title-color {
    color: #93c165 !important;
}
.light-green .slider-title-color span {
    color: #a383de !important;
}
.light-green #news-container a {
    color: #8bb95f;
    font-weight: 600;
}
.light-green #news-container a:hover {
    color: #b2e87a;
    font-weight: 600;
}
.light-green .product-block {
    background-color: rgba(255, 255, 255, 0.64);
    padding-bottom: 15px;
    border-top: 2px solid #9b77dc;
    border-bottom-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 210px;
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    float: none;
    margin-bottom: 20px;
}
.light-green #services-container .product-block {
    border-top: 2px solid #9dc376;
}

.skype-name {
    margin: 0;
    display: inline-block;
    float: right;
    margin-right: 60px;
    margin-top: 10px;
}

.first-variant {
    margin-left: 26px;
    width: 28px;
    height: 27px;
    line-height: 1.3;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #d7f1bf;
}
.first-variant:hover {
    color: #d7f1bf;
    background-color: white;
    border-color: white;
}


.navbar-right {
    margin: auto !important;
    display: inline-block !important;
    float: none !important;
    vertical-align: bottom;
}

@media(max-width: 500px) {
    .intro-header-title {
        top: 160px !important;
        width: 90%;
        margin:auto;
    }
    .slider-title {
        width: 100% !important;
    }
    .light-overlay {
        height: 100vh !important;
    }
    .form-group.margin-left {
        margin-left: 0 !important;
    }
    .form-group.margin-right {
        margin-right: 0 !important;
    }
    .form-group input {
        width: 100% !important;
    }
    .ul-map-responsive {
        padding-left: 0 !important;
        margin-top: 20px !important;
    }
}

@media(max-width: 800px) {
    #contacts form textarea {
        width: 100% !important;
        border-radius: 0;
        margin-top: 20px;
        margin-bottom:20px;
    }
    #contacts .row:first-child {
        margin-bottom: 40px;
    }
    #map {
        margin-left: 0 !important;
    }
}

@media(max-width: 1024px) {
    .form-group.margin-left {
        margin-left: 0 !important;
    }
    .form-group.margin-right {
        margin-right: 0 !important;
    }
    .form-group input {
        width: 100% !important;
    }
    #contacts form textarea {
        width: 400px;
        border-radius: 0;
        margin-top: 20px;
        margin-bottom:20px;
    }
}