<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--<ul class="list-inline">-->
                <!--<li>-->
                    <!--<a href="#">Home</a>-->
                <!--</li>-->
                <!--<li class="footer-menu-divider">&sdot;</li>-->
                <!--<li>-->
                    <!--<a href="#about">About</a>-->
                <!--</li>-->
                <!--<li class="footer-menu-divider">&sdot;</li>-->
                <!--<li>-->
                    <!--<a href="#services">Services</a>-->
                <!--</li>-->
                <!--<li class="footer-menu-divider">&sdot;</li>-->
                <!--<li>-->
                    <!--<a href="#contact">Contact</a>-->
                <!--</li>-->
            <!--</ul>-->
            <div class="col-sm-12 no-padding show-div-footer">
                <div class="col-xs-4 col-sm-4 no-padding">
                    <span><span class="glyphicon glyphicon-earphone"></span> +442081333099</span>
                    <!--<span><span class="glyphicon glyphicon-earphone"></span> +380675587890</span> |-->
                    <!--<span><span class="glyphicon glyphicon-earphone"></span> +380663243638</span>-->
                </div>
                <div class="col-xs-8 col-sm-4 no-padding text-center">
                    <p><span class="glyphicon glyphicon-envelope"> </span> office@intluxenergy.com</p>
                </div>
                <div class="col-xs-12 col-sm-4 no-padding text-right">
                    <div id="MyDiv">
                        <p class="skype-name">intlux.energy</p>
                        <a style="display: block;position: absolute;right: 0;" onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:intlux.energy?call">
                            <img style="width:50px;" role="Button" src="../../img/skype.png">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-xs-12">
                <p class="small">Intlux Energy &copy; All Rights Reserved.</p>
            </div>
        </div>

        <a class="back-to-top link-nav top-3" href="#slider"><span class="glyphicon glyphicon-menu-up"></span></a>
    </div>
</div>