<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-12 no-padding show-div-footer">
                <div class="col-xs-4 col-sm-4 no-padding">
                    <span><span class="glyphicon glyphicon-earphone"></span> <span class="footer-phone"></span></span>
                    <!--<span><span class="glyphicon glyphicon-earphone"></span> +380675587890</span> |-->
                    <!--<span><span class="glyphicon glyphicon-earphone"></span> +380663243638</span>-->
                </div>
                <div class="col-xs-8 col-sm-4 no-padding text-center">
                    <p><span class="glyphicon glyphicon-envelope"> </span> <span class="footer-email"></span></p>
                </div>
                <div class="col-xs-12 col-sm-4 no-padding text-right">
                    <div id="MyDiv">
                        <p class="skype-name">
                            <a class="skype-link" onclick="Skype.tryAnalyzeSkypeUri('call', '0');">
                                <span></span>
                            </a>
                        </p>
                        <a class="img-skype" style="display: block;position: absolute;right: 0;" onclick="Skype.tryAnalyzeSkypeUri('call', '0');">
                            <img style="width:50px;" role="Button" src="../../img/skype.png">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-xs-12 all-rights">
                <p class="small"><span class="footer-logo-fisrt">Intlux </span><span class="footer-logo-second">Energy</span> &copy; All Rights Reserved.</p>
            </div>
        </div>

        <a class="back-to-top link-nav top-3" href="#slider"><span class="glyphicon glyphicon-menu-up"></span></a>
    </div>
</div>