<nav ng-controller="MainController" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="goToTop()" class="navbar-brand topnav link-nav" data-scroll-item="#slider">
                <img src="img/intluxHeaderText.png" alt="">
                <span class="brand-name">INTLUX ENERGY <br>
                    <span class="brand-name-description">PART OF INTELLICO GROUP</span>
                </span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="change-lang chang-lang-desktop">
                <span>
                            <a ng-click="changeLanguage('ru');">
                                <i class="flaticon-tool">
                                    <span>ru</span>
                                </i>
                            </a>
                        </span>
                        <span>
                            <a ng-click="changeLanguage('en');">
                                <i class="flaticon-tool">
                                    <span>en</span>
                                </i>
                            </a>
                        </span>
                        <!--<span>-->
                            <!--<a ng-click="changeLanguage('kz');">-->
                                <!--<i class="flaticon-tool">-->
                                    <!--<span>kz</span>-->
                                <!--</i>-->
                            <!--</a>-->
                        <!--</span>-->
                        <span class="first-variant">
                            <a ng-click="changeLanguage('kz');">
                                <span>kz</span>
                            </a>
                        </span>
            </p>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-dropdown-item="company-dropdown" class="dropdown-hover" translate="COMPANY">&nbsp;<span style="line-height: 1.5;margin-left: 10px;" class="glyphicon glyphicon-chevron-down pull-right"></span></a>

                    <ul class="dropdown-menu company-dropdown dropdown-menu-hover row">
                        <li><a class="link-nav" ng-click="goToBlock($event.target)" data-scroll-item="#about_us" translate="ABOUT_US"></a></li>
                        <li><a class="link-nav" data-scroll-item="#our_missions" ng-click="goToBlock($event.target)" translate="MISSIONS"></a></li>
                    </ul>
                </li>
                <li>
                    <a class="link-nav" data-scroll-item="#news-container" ng-click="goToBlock($event.target)" translate="NEWS"></a>
                </li>
                <li>
                    <!--<a class="link-nav" href="#products-container">Сервисы и продукты</a>-->

                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Сервисы и продукты <span style="line-height: 1.5;margin-left: 10px;" class="glyphicon glyphicon-chevron-down pull-right"></span></a>-->
                    <a style="cursor:pointer;" class="dropdown-hover" data-dropdown-item="products-services-dropdown" translate="PRODUCTS_AND_SERVICES"> <span style="line-height: 1.5;margin-left: 10px;" class="glyphicon glyphicon-chevron-down pull-right"></span></a>

                    <ul class="dropdown-menu dropdown-menu-hover products-services-dropdown row">
                        <li><a class="link-nav" data-scroll-item="#products-container" ng-click="goToBlock($event.target)" translate="PRODUCT"></a></li>
                        <li><a class="link-nav" data-scroll-item="#services-container" ng-click="goToBlock($event.target)" translate="SERVICES"></a></li>
                    </ul>
                </li>

                <li>
                    <a class="link-nav" data-scroll-item="#contacts" ng-click="goToBlock($event.target)" translate="CONTACTS">Контакты</a>
                </li>
                <li>
                    <a class="link-nav" ng-href="/#/map" data-scroll-item="#map-container" translate="SQUARE_POWER"></a>
                </li>
                <li>
                    <p class="change-lang chang-lang-mobile">
                        <span>
                            <a ng-click="changeLanguage('ru');">
                                ru
                            </a>
                        </span>
                        <span>
                            <a ng-click="changeLanguage('en');">
                                en
                            </a>
                        </span>
                        <span>
                            <a ng-click="changeLanguage('kz');">
                                kz
                            </a>
                        </span>
                    </p>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<!--content: "\f103";-->
<!--font-size: 35px;-->
<!--position: absolute;-->
<!--right: 56px;-->
<!--top: -10px;-->