<ul class="nav sidebar-nav">
    <li class="sidebar-brand">
        <a class="navbar-brand topnav" ng-href="#/">
            <img src="img/intluxHeaderText.png" alt="">
                <span class="brand-name">INTLUX ENERGY <br>
                    <span class="brand-name-description">PART OF INTELLICO GROUP</span>
                </span>
        </a>
    </li>
    <li>
        <a href="#"><i class="fa fa-fw fa-home"></i> Просмотр сайта</a>
    </li>
    <li>
        <a ng-class="{'active-sidebar':isNews}" ng-href="#/admin/panel/news"><i class="fa fa-fw fa-folder"></i> Новости</a>
    </li>
    <li>
        <a ng-class="{'active-sidebar':isProducts}" ng-href="#/admin/panel/products"><i class="fa fa-fw fa-file-o"></i> Оборудование</a>
    </li>
    <li>
        <a ng-class="{'active-sidebar':isServices}" ng-href="#/admin/panel/services"><i class="fa fa-fw fa-cog"></i> Сервис</a>
    </li>
    <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li class="dropdown-header">Dropdown heading</li>-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>-->
    <!--</li>-->
</ul>